[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Delaporte"]
	path = Delaporte
	url = https://github.com/aadler/delaporte
[submodule "MBBEFDLite"]
	path = MBBEFDLite
	url = https://github.com/aadler/mbbefdlite
[submodule "Pade"]
	path = Pade
	url = https://github.com/aadler/pade
[submodule "lamW"]
	path = lamW
	url = https://github.com/aadler/lamw
[submodule "minimaxApprox"]
	path = minimaxApprox
	url = https://github.com/aadler/minimaxapprox
[submodule "revss"]
	path = revss
	url = https://github.com/aadler/revss
